.body_fixed {
    overflow: hidden;
}
.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.burger_open {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}
.burger__content {
    padding: 64px 0px 191px 28px;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    transition: transform 0.5s linear;
    transform: translateX(100%);
}
.burger_open .burger__content {
    transform: translateX(0);
}
.burger-logo {
    width: 130px;
    height: 55px;
    border: 1px solid aqua;
    border-radius: 100px;
    text-align: center;
}
.burder-logo__link {
    color: aqua;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}
.burger-nav {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.burger-nav__link {
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
.burger-nav__link:hover {
    opacity: 0.5;
}
.burger-btn {
    display: none;
}
.burger-btn__close {
  display: none;
}
.burger__text {
    margin-top: 91px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.5;
}
.burger-contacts {
    display: flex;
    flex-direction: column;
}
.burger__link {
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .header__nav {
        display: none;
    }
    .burger-btn {
        display: block;
        position: relative;
        z-index: 120;
        border: none;
        background: none;
        width: 50px;
        transition: all 0.5s ease;
    }
}    
@media (max-width: 767px) {
    .burger-btn {
        width: 38px;
      }
      .burger-btn::after {
        top: 5px;
        width: 24px;
      }
}