.footer {
    background: #FFFFFF;
    border-radius: 30px;
}
.footer_container {
    padding-top: 76px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    column-gap: 169px;
}

.footer_descr {
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}
.footer_rights {
    margin-top: 66px;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    opacity: 0.5;
}
.social_media_footer {
    display: flex;
    gap: 25px;
}
.footer_link {
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}
.politics {
    margin-top: 59px;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    opacity: 0.5;
}
@media (max-width: 1199px) {
    .footer_container {
        padding-top: 51px;
    }
    .footer_rights {
        margin-top: 43px;
    }
    .politics {
        margin-top: 38px;
    }
}    
@media (max-width: 767px) {
    .footer_container {
        flex-direction: column;
    }
    .footer_descr, .footer_link {
        font-size: 15px;
        line-height: 20px;
    }
    .politics, .rights {
        font-size: 13px;
        line-height: 28px;
    }
}